<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assessment Test HTML</title>
  </head>
  <body>
    <h1>Course Sign Up Page</h1>
    <img src="{% static 'App/images/django-1.jpg' %}" alt="uh oh can't find image">
    <form action = "myext/" method="post">
      {% csrf_token %}
      <p>Please Note: First Name, Last Name, Password and Email are required</p>
      <label>First Name:
        <input type="text" name="firstname" value="" placeholder="First Name" required>
      </label>
      <label>Last Name:
        <input type="text" name="lastname" value="" placeholder="Last Name" required>
      </label><br><br>
      <label>Email:
        <input type="email" name="emailid" value="" placeholder="name@gmail.com" required>
      </label>
      <label>Password:
        <input type="password" name="password" value="" required>
      </label><br>
      <p>Are you over the age of 18?</p>
      <label for="yes">Yes: </label>
      <input for="yes" type="radio" name="age" value="above">
      <label for="no">No: </label>
      <input for="no" type="radio" name="age" value="below">
      <br>
      <p>Do you have a Credit Card or PayPal?</p>
      <select name="">
        <option value="paypal">PayPal</option>
        <option value="creditcard">Credit Card</option>
      </select><br><br>
      <input type="submit" name="" value="Sign Up">
    </form>
  </body>
</html>
